@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --color-background: #E5FFF0;
  --color-border:#C4EDD7;
  --color-black: #000000;

  /* Custom Green Palette */
  --color-green-btn: #105F62;
  --color-text-shade: #072B2C;
  --color-green-light: #43916F;
  --color-green-medium: #3E908A;
}

  /* to create a class 
.textColor{
  @apply text-[#43916F] py-1.5
} */ 
 