@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #E5FFF0;
  --color-border: #C4EDD7;
  --color-black: #000000;

  /* Custom Green Palette */
  --color-green-btn: #105F62;
  --color-dark-green: #072B2C;
  --color-green-light: #43916F;
  --color-green-medium: #3E908A;
  

/* Optional example custom class
.textColor {
  @apply text-[#43916F] py-1.5;
}
*/

}